extends layout

block content
  h1= 'emma'
  p 一瓶饮料打开后只能保留24小时

  P 一个深的吻痕大概五天后就会消失

  p 一场考试每一个月就会重来一次

  p 两个人在一起通常每三个月都是一个坎

  p 平常吃的零食保质期大都为半年

  p 我们身边的各种东西都是有期限的

  p 可是我对你的爱却永远也不会有尽头

  p 2018/04/17 17:27
